// colors.scss
:root {
    //colors
    --primary-color: #042326;
    --secondary-color: #0A3A40;
    --background-color: #0F5959;
    --xxx-color: #1D7373;
    --button-color: #107361;
    --text-color: #EDC967;
    --link-color: #0040ff;
    --modalbackground-color: rgba(13, 11, 11, 0.252);

    //forms
    --form-padding-top: 100px;
    --form-width: 600px;
  }
  
  